@import "@taiga-ui/core/styles/taiga-ui-local.scss";

$inputWidth: 300px;
$inputHeight: 56px;

app-add-recipe {
  .book-sector {
    display: flex;
  }

  .create-recipe-section-left {
    width: 600px;
    margin: 0 auto;
    overflow: auto;
    margin-top: 12%;
    margin-left: 10%;

    @media screen and (min-width: 320px) and (max-width: 480px) {
      margin: 8% 10% 0;
      width: 80%;
    }
  }

  .create-recipe-section-right {
    width: 720px;
    margin: 0 auto;
    margin-top: 6%;
    max-height: 645px;
    overflow: auto;

    @media screen and (min-width: 320px) and (max-width: 480px) {
      display: none;
    }
  }

  .add-ingredient {
    display: block;
    @media screen and (min-width: 320px) and (max-width: 480px) {
      display: none;
    }
  }

  .add-ingredient-mobile {
    display: none;
    @media screen and (min-width: 320px) and (max-width: 480px) {
      display: block;
      width: 80%;
      margin-bottom: 20px;
    }
  }

  .control-size {
    height: $inputHeight;
    margin-bottom: 20px;
  }

  .height-control-size {
    margin-bottom: 20px;
  }

  .flex-controls-sector {
    display: flex;

    @media screen and (min-width: 320px) and (max-width: 480px) {
      width: 80%;
      justify-content: space-between;
    }

    .flex-controls-sector:not(:last-child) {
      margin-bottom: 20px;
    }

    button .t-wrapper {
      @media screen and (min-width: 361px) and (max-width: 480px) {
        padding: 0 var(--tui-padding, 2rem);
      }
      @media screen and (min-width: 320px) and (max-width: 360px) {
        padding: 0 var(--tui-padding, 1.75rem);
      }
    }
  }

  .input {
    width: $inputWidth;
    display: inline-block;

    @media screen and (min-width: 320px) and (max-width: 480px) {
      width: 80%;
    }
  }

  .small-input {
    width: 140px;

    @media screen and (min-width: 320px) and (max-width: 480px) {
      height: $inputHeight;
      width: auto;
    }
  }

  .small-space {
    width: 20px;

    @media screen and (min-width: 320px) and (max-width: 480px) {
      display: none;
    }
  }

  .tooltop-info {
    margin-left: 20px;
    tui-svg svg {
      font-size: 20px;
    }
  }

  .scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #d62929;
  }
}
