app-main-layout {
  .book-image {
    position: absolute;
    width: 100%;
    background-image: url("../../assets/opened-book.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    height: 100vh;
    background-size: cover;

    @media screen and (min-width: 320px) and (max-width: 480px) {
      overflow: auto;
    }
  }
}
