@import "@taiga-ui/core/styles/taiga-ui-local.scss";

app-all-recepies {
  .book-sector {
    display: flex;
    margin-top: 12%;
    margin-left: 10%;
  }

  .create-recipe-section {
    width: 550px;
  }

  .position {
    width: 400px;
    margin-bottom: 20px;
  }

  .recipe-name {
    letter-spacing: 2px;
    font-size: 24px;
    padding-bottom: 30px;
    text-align: center;
  }

  .ingredients-space {
    padding-top: 18px;
  }

  .description-space {
    font-family: "Courgette-Regular";
    font-size: 16px;
    word-wrap: break-word;
  }

  .tags-space {
    padding-top: 10px;
  }
}
