@import "@taiga-ui/core/styles/taiga-ui-local.scss";

[tuiWrapper][data-appearance="preview"] {
  background: #ffffff5c;
  color: #939393;

  @mixin wrapper-hover {
    background: #eeececa4;
  }

  &:hover {
    @include wrapper-hover;
  }
}

[tuiWrapper][data-appearance="edit"] {
  background: #f69c161f;
  color: #e88c1c;

  @mixin wrapper-hover {
    background: #ffbf0052;
  }

  &:hover {
    @include wrapper-hover;
  }
}

[tuiWrapper][data-appearance="newRecipe"] {
  background: #1fcf69;
  color: #fff;
}

app-all-recepies {
  .book-sector {
    display: flex;
  }

  .create-recipe-section-left {
    width: 600px;
    margin: 0 auto;
    overflow: auto;
    margin-top: 6%;
    margin-left: 10%;

    @media screen and (min-width: 320px) and (max-width: 480px) {
      margin: 8% 10% 0;
      width: 80%;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 480px) {
    .disable-background {
      pointer-events: none;
    }
  }

  .search-and-add-recipe {
    display: flex;
    margin-bottom: 20px;
    tui-input {
      width: 300px;
    }

    @media screen and (min-width: 320px) and (max-width: 480px) {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0 auto 20px;
      tui-input {
        width: 100%;
      }
    }
  }

  .recipe-list-sector {
    max-height: 550px;
    margin: 0 auto;
    overflow: auto;

    @media screen and (min-width: 320px) and (max-width: 480px) {
      max-height: 500px;
    }
  }

  .search-input {
    @media screen and (min-width: 320px) and (max-width: 480px) {
      margin: 0 0 20px;
    }
  }

  .add-recipe-button {
    margin-left: 20px;

    @media screen and (min-width: 320px) and (max-width: 480px) {
      margin: 0;
    }
  }

  .list-of-recipes {
    background-image: url("../../assets/cutting-board.jpg");
    border-radius: 20px;
    width: 500px;
    margin-bottom: 20px;

    @media screen and (min-width: 320px) and (max-width: 480px) {
      width: 100%;
      background-image: url("../../assets/cutting-board-up-to-screen-width-480.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  .tui-island {
    border: 2px solid brown;
    background-color: initial;
  }
  .title-details {
    text-align: center;
  }

  .separate-buttons {
    display: flex;
    justify-content: space-around;

    @media screen and (min-width: 320px) and (max-width: 480px) {
      display: flex;
      flex-direction: column;

      button:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .pagination {
    justify-content: center;
    margin-top: 20px;
  }

  tui-table-pagination {
    span:nth-child(2) {
      font-size: 20px;
    }
  }

  [_nghost-ng-c3120099305] {
    color: #000000;
    align-items: normal;
  }

  //********************************************************************

  .create-recipe-section-right {
    position: relative;
    width: 720px;
    margin: 0 auto;
    margin-top: 6%;
    max-height: 645px;
    overflow: auto;
    padding: 0;

    @media screen and (min-width: 320px) and (max-width: 480px) {
      position: absolute;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      background-color: rgba(255, 255, 255, 0.5);
      margin: 50px 5% 0px;
      width: 90%;
      height: 90%;
      border-radius: 30px;
    }
  }

  .scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #fcf1c9;
    border-radius: 10px;

    @media screen and (min-width: 320px) and (max-width: 768px) {
      width: 0;
      background-color: transparent;
    }
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #d62929;

    @media screen and (min-width: 320px) and (max-width: 768px) {
      width: 0;
      background-color: transparent;
    }
  }

  .round-close-button {
    display: none;
    @media screen and (min-width: 320px) and (max-width: 768px) {
      display: inline-block;
      position: absolute;
      margin: 0 auto;
      border-radius: 50%;
      border: 2px solid black;
      color: black;
      width: 42px;
      height: 42px;
      left: 45%;
      bottom: 8px;
    }
  }
}
